<script type="text/javascript">
	function formatDate(objDate)
	{
	var date = [];
	date[0] = objDate.toISOString().replace(/T.*/, '');  //日期
	date[1] = objDate.toLocaleTimeString();               //时间
	date[2] = /(\+|\-)\d{4}/.exec(objDate.toString())[0]; //时区
	return date;
	}
    function OnClickNewPost()
    {
        var title = prompt("请输入新文章标题：");
        if (title!=null){
            //title = title.replace(/\s+/, "-");
            var currentdate = formatDate(new Date());
            var urlNewPage = "{{ site.newsourceroot }}?filename=_posts/" + currentdate[0] + "-" + title.replace(/\s+$/, "-").replace(/\s+/g, "-") + ".md";
            var defaultText =  [
                '---',
                'layout: post',
                'date: ' + currentdate.join(' '),
                'title: "' + title.replace(/\s+$/, "").replace(/\s+/g, " ") +'"',
				'slug: ' + Date.now().toString().substring(0,10),
                'categories: ',
                'tags: ',
                '---',
                '* content',
                '{:toc}',
                '## 章节标题',
                '输入正文'
                ].join('\n');
            urlNewPage += "&value=" + encodeURIComponent(defaultText);
            window.open(urlNewPage);
        }
    }
    
    $(function() {
      // CreateNewPostLinks
      $('.newpost').each(function(){
          $(this).click(OnClickNewPost);
      });
    });
</script>
