<script type="text/javascript">
    function formatDate(objDate,fmt)
    { 
      var o = {
        "M+" : objDate.getMonth()+1, //月份
        "d+" : objDate.getDate(), //日
        "h+" : objDate.getHours()%12 == 0 ? 12 : objDate.getHours()%12, //小时
        "H+" : objDate.getHours(), //小时
        "m+" : objDate.getMinutes(), //分
        "s+" : objDate.getSeconds() //秒
      };
      if(/(y+)/.test(fmt))
        fmt=fmt.replace(RegExp.$1, (objDate.getFullYear()+"").substr(4 - RegExp.$1.length));
      for(var k in o)
        if(new RegExp("("+ k +")").test(fmt))
      fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
      timezone = /(\+|\-)\d{4}/.exec(objDate.toString())[0] //时区
      fmt = fmt + timezone
      return fmt;
    } 
    function OnClickNewPost()
    {
        var title = prompt("请输入新文章标题：");
        if (title!=null){
            title = title.replace(" ", "-");
            var currentdate = new Date();
            var urlNewPage = "{{ site.newsourceroot }}?filename=_posts/" 
                + currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate() + "-" + title + ".md";
                
            var defaultText =  [
                '---',
                'layout: post',
                'date: ' + formatDate(new Date(),"yyyy-MM-dd hh:mm:ss "),
                'title: ' + title,
                'comments: true',
                'categories: ',
                'tags: ',
                '---',
                '* content',
                '{:toc}',
                '# ' + title,
                '输入正文'
                ].join('\n');
            urlNewPage += "&value=" + encodeURIComponent(defaultText);
            window.open(urlNewPage);
        }
    }
    
    $(function() {
      // CreateNewPostLinks
      $('.newpost').each(function(){
          $(this).click(OnClickNewPost);
      });
    });
</script>
