<script type="text/javascript">
    function OnClickNewPost()
    {
        var title = prompt("请输入新文章标题：");
        if (title!=null){
            title = title.replace(" ", "-");
            var currentdate = new Date();
            var urlNewPage = "{{ site.newsourceroot }}?filename=_posts/" 
                + currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate() + "-" + title + ".md";
                
            var defaultText =  [
                '---',
                'layout: post',
                'date: ' + currentdate.getFullYear() + "-" + (currentdate.getMonth()+1) + "-" + currentdate.getDate(),
                'title: ' + title,
                'comments: true',
                'categories: diary',
                'tags: ',
                '---',
                '## ' + title,
                '输入正文'
                ].join('\n');
            urlNewPage += "&value=" + encodeURIComponent(defaultText);
            window.open(urlNewPage);
        }
    }
    
    $(function() {
      // CreateNewPostLinks
      $('.newpost').each(function(){
          $(this).click(OnClickNewPost);
      });
    });
</script>
